button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: bold
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

.profile--twitter {
  color: #00acee!important
}

.profile--twitter:hover {
  color: #000!important
}

.profile--dribbble {
  color: #ea4c89!important
}

.profile--dribbble:hover {
  color: #000!important
}

.profile--linkedin {
  color: #0e76a8!important
}

.profile--linkedin:hover {
  color: #000!important
}

.profile--github {
  color: #171515!important
}

.profile--github:hover {
  color: #000!important
}

.profile--500px {
  color: #02adea!important
}

.profile--500px:hover {
  color: #000!important
}

.profile--flickr {
  color: #0063dc!important
}

.profile--flickr:hover {
  color: #000!important
}

.profile--instagram {
  color: #634d40!important
}

.profile--instagram:hover {
  color: #000!important
}
